<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <!-- templates/home.html -->
  {% extends "base_generic.html" %}

  {% block content %}
  <h2>Главная страница</h2>
    <h3>Текущие опросы:</h3>
    {% if surveys %}
      <ul>
            {% for survey in surveys %}
                <li><a href="{% url 'survey_detail' survey.id %}">{{ survey.name }}</a></li>
            {% endfor %}
      </ul>
    {% else %}
      <p>На данный момент нет активных опросов.</p>
    {% endif %}
  {% endblock %}
</body>
</html>

