<!DOCTYPE html>
<html lang="en">
    {% extends 'base_generic.html' %}
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>{{ survey.name }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

{% block content %}
<div class="survey-container">

    <h2 class="survey-title">{{ survey.name }}</h2>
    <p class="survey-description">{{ survey.description }}</p>

    {% if not request.path == '/login/' %}
      <a href="{% url 'home' %}">
        <button type="button" class="submit-button">На главную</button>
    </a>
    {% endif %}

    <form id="survey-form">
        {% csrf_token %}

        {% for item in questions_with_choices %}
        <div class="question-block">
            <p class="question-text">{{ item.question.text }}</p>
            {% if item.choices %}
                <div class="choices">
                    {% for choice in item.choices.all %}
                        <label class="choice-option">
                            <input type="radio" name="question_{{ item.question.id }}" value="{{ choice.id }}">
                            {{ choice.text }}
                        </label><br>
                    {% endfor %}
                </div>
            {% else %}
                <p class="no-choices">Нет вариантов ответа для этого вопроса</p>
            {% endif %}
        </div>
        {% endfor %}

        <div class="feedback-block">
            <label for="feedback">Ваш отзыв:</label><br>
            <textarea id="feedback" name="feedback" rows="4" cols="50"></textarea>
        </div>

        <button type="submit" class="submit-button">Отправить ответы</button>
    </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const form = document.querySelector('#survey-form');;
    if (!form) {
        console.error('Форма не найдена!');
        return;
    }

    form.addEventListener('submit', function (event) {
        console.log('Форма отправлена через JS');
        event.preventDefault();

        const formData = new FormData(form);

        fetch(window.location.href, {
            method: 'POST',
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': formData.get('csrfmiddlewaretoken')
            },
            body: formData
        })
        .then(response => {
            response.json().then(data => {
                if (data.redirect_url) {
                    window.location.href = data.redirect_url;
                } else {
                    console.log("Ответ без редиректа", data);
                }
            });
        })
        .catch(error => {
            console.error('Ошибка при отправке:', error);
        });
    });
});
</script>

{% endblock %}
</body>
</html>