<!DOCTYPE html>
<html lang="en">
    {% extends 'base_generic.html' %}
<head>
    <meta charset="UTF-8">
    <title>{{ survey.name }}</title>
</head>
<body>
<!-- polls/survey_detail.html -->


{% block content %}
  <h2>{{ survey.name }}</h2>
  <p>{{ survey.description }}</p>

  <!-- Добавим эту кнопку на каждой странице -->
  {% if not request.path == '/login/' %}  <!-- Здесь проверка на страницу авторизации -->
    <button onclick="window.history.back()">Назад</button>
  {% endif %}

  <form method="post">
    {% csrf_token %}

    <!-- Выводим вопросы и их варианты ответов -->
    {% for item in questions_with_choices %}
      <p>{{ item.question.text }}</p>
      {% if item.choices %}
        {% for choice in item.choices.all %}
        <input type="radio" name="question_{{ item.question.id }}" value="{{ choice.id }}"> {{ choice.text }}<br>
      {% endfor %}
    {% else %}
    <p>Нет вариантов ответа для этого вопроса</p>
  {% endif %}
{% endfor %}

    <!-- Место для отзыва -->
    <div>
      <label for="feedback">Ваш отзыв:</label>
      <textarea id="feedback" name="feedback" rows="4" cols="50"></textarea>
    </div>

    <button type="submit">Отправить ответы</button>
  </form>
{% endblock %}
</body>
</html>