<!DOCTYPE html>
    {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Основной шаблон</title>
</head>
<body>
    <header>
        <h1>Панель руководителя</h1>
        <nav class="navbar">
            <div class="nav-left">
                <ul>
                    <li><a href="{% url 'manager_home' %}">Главная</a></li>
                    <li><a href="{% url 'completed' %}">Аналитика</a></li>
                </ul>
            </div>
            <div class="nav-right">
                <ul>
                    <li><a href="{% url 'profile' %}">Профиль</a></li>
                    <li><a href="{% url 'logout' %}">Выйти</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer>

    </footer>
</body>
</html>