<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Основной шаблон</title>
</head>
<body>
    <header>
        <h1>Добро пожаловать в систему</h1>
        <!-- Тут может быть меню или другие элементы, которые повторяются на всех страницах -->
    </header>

    <main>
        {% block content %}
        <!-- Контент страницы будет вставлен сюда -->
        {% endblock %}
    </main>

    <footer>
        <!-- Здесь может быть подвал или другие элементы, которые повторяются на всех страницах -->
    </footer>
</body>
</html>